.organization-thumbnail img {
  width: 64px;
}

dataset {
  display: block;
  border-bottom: 1px #d6d6d6 solid;
  padding-bottom: 20px;
}

.list-group-item-truncate {
  display: inline-block;
  line-height: 1;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-description {
  font-size: 90%;
}

.select2 {
  margin-bottom: 10px;
}

.datasets-count {
  display: inline-block;
}

.add-dataset-btn {
  margin-top: 15px;
}

/* Hidden from guests */
.user-issue,
.admin-only {
  display: none;
}

.resource-details,
.show-resource-details {
  display: none;
}

.show-resource-details {
  font-size: 80%;
}

.user-issue {
  color: red;
}

[data-component~=view-switcher] [data-hook~=view] {
  display: none;
}

.homepage-categories,
.theme-gallery {
  text-align: justify;
}

/* allows last line of categories to be justify aligned */
.homepage-categories:after,
.theme-gallery:after {
  display: inline-block;
  width: 100%;
  content: '';
}

.homepage-categories .thumbnail {
  display: inline-block;
  min-width: 120px;
  text-align: center;
  border: none;
  padding: 10px;
}

.homepage-categories .thumbnail img {
  height: 80px;
}

.homepage-categories a {
  color: #000;
}

.theme-gallery .panel {
  display: inline-block;
  max-width: 250px;
  text-align: center;
}

.theme-gallery .panel img {
  width: 100%;
}

.theme-gallery .panel-primary {
  border-width: 5px;
}

.label-bonus {
  padding: 0px 3px; 
  border-radius: 2px; 
  background-color: #ffb848;
}

.label-number {
  padding: 0px 3px; 
  border-radius: 2px; 
  background-color: #3a87ad;
}

.box-margin {
  margin-left: 5px; margin-right: 20px;
}

.text-margin {
  margin-bottom: 2px; margin-left: 15px;
}

.institution-logo {
  padding: 2px;
  margin-bottom: 10px;
}

.challenges-title {
  color: #0e72b5;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal;
  font-size: 41.6px;
  font-weight: normal;
  text-align: left;
}

.challenge-card-title {
  color: #ffffff;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
}

.challenge-card-description{
  color: #ffffff;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  line-height: 16px;
}

.challenges-sub-title {
  color: #474747;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal;
  font-size: 20.8px;
  font-weight: bold;
  text-align: left;
}

.challenges-mentor-intro {
  font-family: "Replica-Regular-S";
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  max-width: 180px;
}

.content-padding {
  padding: 7px 15px;
  max-width: 700px;
}


.challenge-box {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 170px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.challenge-box-top-half {
  height: 90px; padding: 1px 10px;
}
.challenge-box-bot-half {
  height: 80px; margin-top: -1px; padding: 1px 10px;
}

.green-development-top-half {
  background-color: #9DBC4C;
}
.green-development-bot-half {
  background-color: #529C52; 
}

.future-business-top-half {
  background-color: #CC4365;
}
.future-business-bot-half {
  background-color: #9C3C5E;
}

.smart-traffic-top-half {
  background-color: #53AADB;
}
.smart-traffic-bot-half {
  background-color: #2C77B6;
}

.medical-health-top-half {
  background-color: #EFAE59;
}
.medical-health-bot-half {
  background-color: #DC6746;
}

.challenge-box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.challenge-box:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.challenge-box:hover::after {
    opacity: 1;
}


.qa {
  border-bottom: 1px solid #EEE;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.tag {
  display: inline-block;
  background-color: #EEE;
  padding: 3px 8px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.img-rounded {
  border-radius: 5px;
}