---
title: 城市问题
layout: default
permalink: /challenges/
---
{% include breadcrumbs.html %}

<a href="{{ site.baseurl }}/add-organization/" class="btn btn-default pull-right admin-only" data-hook="add-organization-btn"><i class="fa fa-plus"></i> Add Organization</a>



<div class="media">
  <ul>
  {% for challenge in site.challenges %}
  <li>
    <div class="challenge-box">
      <a href="{{ site.baseurl }}{{ challenge.url }}" style="text-decoration: none;">
        <div class="challenge-box-top-half {{ challenge.title | append:'-top-half' }} ">
          <h5 class="challenge-card-title">如何推动企业更诚信、有社会责任的运作？</h5>
        </div>
        <div class="challenge-box-bot-half {{ challenge.title | append:'-bot-half' }}">
          <h6 class="challenge-card-description">{{ challenge.prize | append: " 奖金" | prepend: "¥"}}</h6>
          <p class="challenge-card-description">{{ challenge.description | truncate: 20 }}</p>
        </div>
      </a>
    </div>
  </li>
  {% endfor %}
  </ul>
</div>

