---
title: 城市问题
layout: default
permalink: /challenges/
slug: challenges
pagination: 
  enabled: true
  collection: challenges
---
{% include breadcrumbs.html %}

  
<div class="btn-icon-pg" style="padding-left: 8%; padding-right: 7%;">
  <div style="margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #EEE;">
    <form>
    <div class="form-group">
    <div style="display: inline-block; min-width: 350px;">
      <label style="font-size: 16px; padding-top: 5px;">筛选版块: </label>
      <select id="challenge-select" onchange="select_change()" class="form-control" style="width: 20%; min-width: 180px; display: inline-block; margin-left: 2%;">
        <option value="all">不限</option>
        <option value="future-business">未来商业</option>
        <option value="smart-traffic">智慧交通</option>
        <option value="green-development">绿色发展</option>
        <option value="medical-health">医疗健康</option>
      </select>
    </div>

    <div style="display: inline-block; min-width: 350px;">
      <label style="font-size: 16px; padding-top: 5px;">筛选时间: </label>
      <select id="year-select" onchange="select_change()" class="form-control" style="width: 20%; min-width: 180px; display: inline-block; margin-left: 2%;">
        <option value="all">不限</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
      </select>
      </div>
    </div>
  </form>
  </div>
  <div id="challenges-list" style="min-height: 640px;">
    <ul>
    {% for challenge in paginator.posts %}
      <li style="margin: 15px 5px;">
        <div class="challenge-box" style="overflow: visible;">
          <a href="{{ site.baseurl }}{{ challenge.url }}" style="text-decoration: none;">
            <div class="challenge-box-top-half {{ challenge.challenge_category_en | append:'-top-half' }} ">
              <h5 class="challenge-card-title">{{ challenge.title }} </h5>
              <div class="btn-icon-pg" style="width: 205px; display: inline-block; margin-top: 0px;">
                <ul>
                  {% for org-logo in challenge.challenge_org_logo %}
                  <li style="min-width: 30px; margin: 2px;"><img src="{{ site.baseurl}}{{ org-logo }}" width="30"></li>
                  {% endfor %}
                </ul>
              </div>
              <div style="width: 70px; display: inline-block; margin-top: 0px;">
                <img src="{{ site.baseurl}}{{ challenge.challenge_category_logo }}" width="65" style="margin-top: 0px;">
              </div>
            </div>
            <div class="challenge-box-bot-half {{ challenge.challenge_category_en | append:'-bot-half' }}">
              <h6 class="challenge-card-description">{{ challenge.prize[0].award | append: " 奖金" | prepend: "¥"}}</h6>
              <p class="challenge-card-description">{{ challenge.description | truncate: 40 }}</p>
            </div>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% if paginator.page_trail %}
    <ul style="text-align: center; list-style: none;">
      {% if paginator.first_page %}
      <li class="previous">
          <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">第一页</a>
      </li>
      {% endif %}

      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 上一页</a>
      </li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %}class="selected"{% endif %}>
              <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &rarr;</a>
      </li>
      {% endif %}

       {% if paginator.last_page %}
      <li class="previous">
          <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">最后一页</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
  </div>
</div>

 <script type="text/javascript">
    function filter_match(sel_filter, para){
      if (sel_filter == "all" || para == sel_filter) {
        return true;
      }
      return false;
    }

    function select_change(){
      let sel_challenge = document.getElementById("challenge-select");
      let opt_challenge_value = sel_challenge.options[sel_challenge.selectedIndex].value;

      let sel_year = document.getElementById("year-select");
      let opt_year_value = sel_year.options[sel_year.selectedIndex].value;      

      $("#challenges-list").html("");

      $.getJSON(`${settings.BASE_URL}/challenges.json`, function(data){
        let content = "<ul>";
        $.each(data, function(i, item){
          let overall_box = "<li style=\"margin: 15px 5px;\"><div class=\"challenge-box\" style=\"overflow: visible;\"><a href=\"" + item.url + "\" style=\"text-decoration: none;\">";
          let up_box = "<div class=\"challenge-box-top-half " + item.challenge_category_en + "-top-half\"><h5 class=\"challenge-card-title\">" + item.title + " </h5><div class=\"btn-icon-pg\" style=\"width: 205px; display: inline-block; margin-top: 0px;\"><ul>";

          let challenge_org_logo = "";
          for (var i = 0; i < item.challenge_org_logo.length; i++) {
            challenge_org_logo = challenge_org_logo + "<li style=\"min-width: 30px; margin: 2px;\"><img src=\"" + item.challenge_org_logo[i] + "\" width=\"30\"></li>";
          }
                
          let challenge_logo = "</ul></div><div style=\"width: 70px; display: inline-block; margin-top: 0px;\"><img src=\"" + item.challenge_category_logo + "\" width=\"65\" style=\"margin-top: 0px;\"></div></div>";

          let down_box = "<div class=\"challenge-box-bot-half " + item.challenge_category_en + "-bot-half\"><h6 class=\"challenge-card-description\"> ¥" + item.prize[0].award + "奖金</h6><p class=\"challenge-card-description\">" + item.description.substring(0,30) + "</p></div></a></div></li>";
          if (filter_match(opt_challenge_value, item.challenge_category_en) && filter_match(opt_year_value, item.year)) {
            content = content + overall_box + up_box + challenge_org_logo + challenge_logo + down_box;
          }
        });
        content += "</ul>";
        $("#challenges-list").append(content);
      });
    }

  </script>