---
title: 首页
layout: default
permalink: 
slug: home
---



<div class="container-fluid">
    <div class="row">
        
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- 轮播（Carousel）指标 -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- 轮播（Carousel）项目内容 -->
      <div class="carousel-inner" role="listbox">
        <!-- 默认显示图片 -->
        <div class="item active">
          <a href="http://shanghai.sodachallenges.com">
            <img src="img/home/banner.jpg" srcset="img/home/banner-small.jpg 500w, img/home/banner.jpg 1140w" sizes="100vw" alt="SODA-2017">
          </a>
         <!-- 图片描述内容 -->
          
        </div>
        <div class="item">
          <a href="http://credit.sodachallenges.com">
            <img src="img/home/credit-banner.jpg" alt="SODA-CREDIT">
          </a>
        </div>

      </div>

       <!-- 轮播（Carousel）导航(控制左右移动) -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>

        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<h3>观点资讯</h3>

<section class="news-recent">
  <div class="row pack">
        {% assign news_list = (site.news | sort:'date') | reverse %}
        {% for post in news_list offset:0 limit:3 %}   
            <div class="col-md-4 card">
                 
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ post.title }}</h3>
                  </div>
                  {% if post.banner %}
                  <img width="100%" height="200px" src="{{site.baseurl}}/img/news/{{post.banner}}" alt="{{post.title}}">
                  {% else %}
                  <img width="100%" src="{{site.baseurl}}/images/webjeda-logo-big.jpg" alt="{{site.title}}">
                  {% endif %}
                  <div class="panel-body">
                  	<small> {{ post.description | strip_html | strip_newlines | truncate: 160 }}  </small>
                    <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary btn-sm pull-right mt10">Read</a>
                  </div>
                </div>
            </div>
        
        {% endfor %}

    </div> 
</section>

