<!-- general behavior -->
<script src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script>
	
<footer class="bg-primary">
	<div class="container">
			<div class="row fade-half">
				<div class="col-sm-4 text-center-xs">
					<p>© 2017 Shanghai SODA Data Tech (苏打数据),Ltd.</p>
					<p>沪ICP备17018055号-1</p>
				</div>

				<div class="col-sm-4 text-center hidden-xs">
					<p>上海苏打数据科技有限公司</p>
					<p>解锁数据能量，众创城市智慧</p>
				</div>

				<div class="col-sm-4 text-right hidden-xs">
					<p>contact@sodachallenges.com</p>
					<p>@苏打数据</p>
				</div>
			</div>
		</div>

</footer>

