---
layout: default
---
{% include breadcrumbs.html parent="challenges" %}

{% assign active_competition  = site.competitions | where:"slug",page.active_competition | first %}

<div data-component="view-switcher">
  <div class="row" data-hook="view" data-view="display">
    <div class="col-sm-3">

      {% if active_competition%}
      <div class="widget-box box-margin">
          <div class="widget-title"> <span class="icon"> <i class="icon-time"></i> </span>
            <h5 style="font-size: 15px;"> 进行中赛事 </h5>
          </div>
          <div class="widget-content">
            <div class="span12 btn-icon-pg">
              <ul>
              
                <li><h6 class="text-margin">
                  <a href="{{active_competition.website}}"> {{ active_competition.title }} </a>
                </h6></li>        
              </ul>
            </div>
          </div>
      </div>

      <div class="widget-box box-margin">
          <div class="widget-title"> <span class="icon"> <i class="icon-time"></i> </span>
            <h5 style="font-size: 15px;"> 赛事时间节点</h5>
          </div>
          <div class="widget-content">
            <div class="span12 btn-icon-pg">
              <ul>
              {% for arrg in active_competition.schedule %}
                <li><h6 class="text-margin">
                  <span class="icon"> <i class="icon-hand-right"></i> {{ arrg.name }} <br>  <code>{{ arrg.date }}</code> </span>
                </h6></li> 
              {% endfor %}         
              </ul>
            </div>
          </div>
      </div>

      <div class="widget-box box-margin">
          <div class="widget-title"> <span class="icon"> <i class="icon-trophy"></i> </span>
            <h5 style="font-size: 15px;"> 赛事整体奖项</h5>
          </div>
          <div class="widget-content">
            <div class="span12 btn-icon-pg">
              <ul>
              {% for pri in active_competition.prize %}
                <li><h6 class="text-margin">
                  <span class="icon"> <i class="icon-star"></i> {{ pri.title }}  
                  <span class="label label-bonus">{{ pri.award }}元</span>
                  <span class="label label-number">{{ pri.count }}名</span>
                </h6></li>  
              {% endfor %}
              </ul>
            </div>
          </div>
      </div>
      {% endif %}

      <div class="widget-box box-margin">
          <div class="widget-title"> <span class="icon"> <i class="icon-group"></i> </span>
            <h5 style="font-size: 15px;"> 议题建设单位</h5>
          </div>
          <div class="widget-content">
            <div class="span12 btn-icon-pg">
              <ul>
              {% for org in page.organizations %}
                <li><a href="{{ site.baseurl }}/organizations/{{ org.name }}" class="thumbnail institution-logo"><img src = "{{ org.logo }}" width="auto" height="auto" alt="图片显示不了" title="{{ org.name }}"> </a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
      </div>

      <div class="widget-box box-margin">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5 style="font-size: 15px;"> 其他信息</h5>
          </div>
          <div class="widget-content">
            <div class="span12 btn-icon-pg">
              <ul>
                <li><h6 class="text-margin">
                  <span class="icon"> <i class="icon-caret-right"></i> <a href="#"> 比赛规则</a>
                </h6></li>
                <li><h6 class="text-margin">
                  <span class="icon"> <i class="icon-caret-right"></i> <a href="#"> 报名入口</a>
                </h6></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-9">
      <h1 class="challenges-title">
        {{ page.title }}
        <!--a href="?view=edit" class="pull-right btn btn-default admin-only">Edit</a-->
      </h1>

      <h2 class="challenges-sub-title">【所属分类】</h2>      

      <p class="content-padding"><strong>{{ page.challenge_category }}</p></strong>

      <h2 class="challenges-sub-title">【议题描述】</h2>     

      <p class="content-padding">{{ page.description }}</p>

      <h2 class="challenges-sub-title">【议题目标】</h2>      

      <ul class="content-padding" style="margin-left: 2%;">
        {% for goal in page.goals %}
        <li><span property="dct:title">{{ goal }}</span></li>
        {% endfor %}
      </ul>

      <h2 class="challenges-sub-title">【议题关联数据】</h2>
      <ul class="content-padding" style="margin-left: 2%;">
      {% for dataset in site.datasets %}
        {% for challenge_dataset in page.datasets %}
          {% if challenge_dataset == dataset.slug %}
            <li><a href="{{ site.baseurl }}{{ dataset.url }}" property='dcat:accessURL'><span property="dct:title">{{ dataset.title }}</span></a></li>
            {% break %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>

      {% for project in site.projects %}
        {% if project.challenge_name == page.title %}
          <h2 class="challenges-sub-title">【问题相关解决方案】</h2>
          {% break %}
        {% endif %}
      {% endfor %}
      
      <ul class="content-padding" style="margin-left: 2%;">
      {% for project in site.projects %}
        {% if project.challenge_name == page.title %}
          <li><a href="{{ site.baseurl }}{{ project.url }}" property='dcat:accessURL'><span property="dct:title">{{ project.title }}</span></a></li>
        {% endif %}
      {% endfor %}
      </ul>
      {% if page.references and page.references | size > 0 %}
      <h2 class="challenges-sub-title">【参考文献、资料】</h2>
      <ul class="content-padding" style="margin-left: 2%;">
        {% for ref in page.references %}
        <li><a href="{{ ref.link }}"><span property="dct:title">{{ ref.name }}</span></a></li>
        {% endfor%}
      </ul>
      {% endif %}

      {% if page.mentors and page.mentors | size > 0 %}
      <h2 class="challenges-sub-title">【指导专家】</h2>
      <div class="span12 btn-icon-pg content-padding" >
        <ul>
          {% for mentor in page.mentors %}
          <div class="challenge-box" style="display: inline-block; width: inherit; height: inherit; margin: 2px 5px;">
          <li style="margin: 7px 15px;"><img src = "{{ mentor.photo }}" width="180" alt="图片显示不了" title="显示导师名字"> 
          <h4 style="color: #ff5e99">{{ mentor.name }}</h4>
          <p class="challenges-mentor-intro">{{ mentor.intro | truncate : 70 }}</p>
          </li>
          </div>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="row" data-hook="view" data-view="edit">
    <div class="col-sm-8 col-sm-offset-2">
      {% include organization-form.html organization=page %}
    </div>
    <div class="col-sm-2">
      <a href="{{ site.baseurl }}{{ page.url }}" class="btn btn-default pull-right">Cancel</a>
    </div>
  </div>
</div>