---
layout: default
---
{% include breadcrumbs.html parent="Organizations" %}

<div data-component="view-switcher">
  <div class="row" data-hook="view" data-view="display">
    {% if page.logo and page.logo != empty %}
    <div class="col-sm-3">
      <a href="{{ page.logo }}" class="thumbnail"><img src="{{ page.logo }}" alt="{{ page.title }} logo"></a>
    </div>
    <div class="col-sm-9">
    {% else %}
    <div class="col-sm-12">
    {% endif %}
      <h1>
        {{ page.name }}
        <a href="?view=edit" class="pull-right btn btn-default admin-only">Edit</a>
      </h1>
      <p>{{ page.description }}</p>

      <h2>相关数据</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/datasets/上海公安-犯罪统计数据/" property='dcat:accessURL'><span property="dct:title">上海公安-犯罪统计数据</span></a></li>
        <li><a href="{{ site.baseurl }}/datasets/上海公安-犯罪统计数据/" property='dcat:accessURL'><span property="dct:title">上海公安-犯罪统计数据</span></a></li>
        <li><a href="{{ site.baseurl }}/datasets/上海公安-道路事故数据/" property='dcat:accessURL'><span property="dct:title">上海公安-道路事故数据</span></a></li>
      </ul>

      <h2>有效解决方案</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/projects/事故定责app/" property='dcat:accessURL'><span property="dct:title">事故定责app</span></a></li>
        <li><a href="{{ site.baseurl }}/projects/危险夜行app/" property='dcat:accessURL'><span property="dct:title">危险夜行app</span></a></li>
        <li><a href="{{ site.baseurl }}/projects/安全你我app/" property='dcat:accessURL'><span property="dct:title">安全你我app</span></a></li>
      </ul>

    </div>
  </div>

  <div class="row" data-hook="view" data-view="edit">
    <div class="col-sm-8 col-sm-offset-2">
      {% include organization-form.html organization=page %}
    </div>
    <div class="col-sm-2">
      <a href="{{ site.baseurl }}{{ page.url }}" class="btn btn-default pull-right">Cancel</a>
    </div>
  </div>
</div>