---
layout: default
---
{% include breadcrumbs.html parent="projects" %}


<div data-component="view-switcher">
  <div class="row" data-hook="view" data-view="display">
    <div class="col-sm-3">
      <div class="qa">
        <h4 style="color:#0088cc;">{{ page.name }}</h4>
      </div>
      <div class="qa">
        <h4 class="challenges-sub-title">团队成员</h4>
        <div style="padding:3px 10px;">
          <a href="#">
          <div style="display: inline-block; float: left;">
            <img class="img-rounded" src="{{ site.baseurl }}/img/logo/test-member.png" width="55">
          </div>
          <div style="display: inline-block; padding-left: 15px;">
            <h5 style="font-size: 15px; margin-top: 7px;">张子凡</h5>
            <h5 style="font-size: 15px;">上海交通大学</h5>
          </div>
          </a>
        </div>
        <div style="padding:3px 10px;">
          <a href="#">
          <div style="display: inline-block; float: left;">
            <img class="img-rounded" src="{{ site.baseurl }}/img/logo/test-member.png" width="55">
          </div>
          <div style="display: inline-block; padding-left: 15px;">
            <h5 style="font-size: 15px; margin-top: 7px;">张子凡</h5>
            <h5 style="font-size: 15px;">上海交通大学</h5>
          </div>
          </a>
        </div>
        <div style="padding:3px 10px;">
          <a href="#">
          <div style="display: inline-block; float: left;">
            <img class="img-rounded" src="{{ site.baseurl }}/img/logo/test-member.png" width="55">
          </div>
          <div style="display: inline-block; padding-left: 15px;">
            <h5 style="font-size: 15px; margin-top: 7px;">张子凡</h5>
            <h5 style="font-size: 15px;">上海交通大学</h5>
          </div>
          </a>
        </div>
      </div>

      <div class="qa">
        <h4 class="challenges-sub-title">团队简介</h4>
        <p>借由数据驱动创新的金融产品，将企业诚信和社会责任融入企业借贷、竞标、投资等环节中，进而鼓励和推动企业更有社会责任地开展商业行为</p>
      </div>
      
    </div>
    <div class="col-sm-9">
      <h1 class="challenges-title">
        {{ page.name }}
      </h1>

      <h2 class="challenges-sub-title" style="font-size: 28px;">项目摘要</h2>      

      <p class="content-padding">未来商业</p>

      <h2 class="challenges-sub-title" style="font-size: 28px;">关联数据集</h2>     

      <p class="content-padding">描述内容</p>

      <h2 class="challenges-sub-title" style="font-size: 28px;">项目文档</h2>      

      <div class="content-padding">
        <a href="#" class="tag" style="text-decoration: none;">环境保护</a>
        <a href="#" class="tag" style="text-decoration: none;">机动车</a>
        <a href="#" class="tag" style="text-decoration: none;">环保局</a>
      </div>
    </div>
  </div>

  <div class="row" data-hook="view" data-view="edit">
    <div class="col-sm-8 col-sm-offset-2">
      {% include organization-form.html organization=page %}
    </div>
    <div class="col-sm-2">
      <a href="{{ site.baseurl }}{{ page.url }}" class="btn btn-default pull-right">Cancel</a>
    </div>
  </div>
</div>