---
layout: default
---
{% include breadcrumbs.html parent="Projects" %}

<div data-component="view-switcher">
  <div class="row" data-hook="view" data-view="display">
    {% if page.logo and page.logo != empty %}
    <div class="col-sm-3">
      <a href="{{ page.logo }}" class="thumbnail"><img src="{{ page.logo }}" alt="{{ page.title }} logo"></a>
    </div>
    <div class="col-sm-9">
    {% else %}
    <div class="col-sm-12">
    {% endif %}
      <h1>
        {{ page.name }}
        <a href="?view=edit" class="pull-right btn btn-default admin-only">Edit</a>
      </h1>
      <p>{{ page.description }}</p>
      
      <h2>解决城市问题</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/challenges/城市交通事故/" property='dcat:accessURL'><span property="dct:title">数据能用来降低城市交通事故率吗?</span></a></li>
        <li><a href="{{ site.baseurl }}/challenges/城市治安防控/" property='dcat:accessURL'><span property="dct:title">如何利用数据提高城市治安防控水平？</span></a></li>
        <li><a href="{{ site.baseurl }}/challenges/数据治理环境/" property='dcat:accessURL'><span property="dct:title">透过数据能知环境，但是否能治理环境？</span></a></li>
      </ul>

      <h2>数据基础</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/datasets/上海公安-犯罪统计数据/" property='dcat:accessURL'><span property="dct:title">上海公安-犯罪统计数据</span></a></li>
        <li><a href="{{ site.baseurl }}/datasets/上海公安-犯罪统计数据/" property='dcat:accessURL'><span property="dct:title">上海公安-犯罪统计数据</span></a></li>
        <li><a href="{{ site.baseurl }}/datasets/上海公安-道路事故数据/" property='dcat:accessURL'><span property="dct:title">上海公安-道路事故数据</span></a></li>
      </ul>

    </div>
  </div>

  <div class="row" data-hook="view" data-view="edit">
    <div class="col-sm-8 col-sm-offset-2">
      {% include organization-form.html organization=page %}
    </div>
    <div class="col-sm-2">
      <a href="{{ site.baseurl }}{{ page.url }}" class="btn btn-default pull-right">Cancel</a>
    </div>
  </div>
</div>
